<div class="window">
  <button class="back" (click)="shiftModules(-1)" [hidden]="currentModule < 1">&lt;</button>
  <button class="forward" (click)="shiftModules(1)" [hidden]="currentModule + 1 >= availableModules">&gt;</button>
  <div class="modulesContainer" [attr.style]="sanitizer.bypassSecurityTrustStyle('--current-module: ' + currentModule)">
    <div class="module search">
      <div class="filters">
        <label for="phrase">Search phrase:</label>
        <input name="phrase" type="text" [(ngModel)]="query.phrase" />
        <button (click)="search()">
          Search
        </button>
      </div>
      <div class="results">
        <ul>
          <li *ngFor="let result of results" (click)="selectResult(result)">
            {{result.filePath}} ({{result.trackTitle}})
            <div class="preview">
              <span *ngFor="let segment of result.previewSegments" [ngClass]="{'segment': true, 'highlight': segment.highlight}">
                {{segment.text}}
              </span>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="module edit">
      <div class="lines">
        <div *ngFor="let line of editing.subtitleTrackDialogue" [ngClass]="{'line': true, 'highlight': line.conversationId == editing.conversationId}">
          <input type="checkbox" [(ngModel)]="line.selected" />
          <input type="number" [(ngModel)]="line.event.Start" min=0 max=none step=0.01  />
          <input type="number" [(ngModel)]="line.event.End" min=0 max=none step=0.01 />
          <input type="text" [(ngModel)]="line.event.Text.raw" />
        </div>
      </div>
    </div>
    <div class="module export">
      <div>
        Video track:
        <select [(ngModel)]="editing.videoTrackId">
          <option *ngFor="let track of editing.videoTracks" [ngValue]="track.id">#{{track.trackNumber}} - {{track.title}} ({{track.language}})</option>
        </select>
      </div>
      <div>
        Audio track:
        <select [(ngModel)]="editing.audioTrackId">
          <option [ngValue]="null">None</option>
          <option *ngFor="let track of editing.audioTracks" [ngValue]="track.id">#{{track.trackNumber}} - {{track.title}} ({{track.language}})</option>
        </select>
      </div>
      <div>
        Start time: (seconds)
        <input type="number" [(ngModel)]="editing.startSeconds" />
      </div>
      <div>
        End time: (seconds)
        <input type="number" [(ngModel)]="editing.endSeconds" />
      </div>
      <button (click)="render()">Render!</button>
      <a *ngIf="outputFile" href="{{outputFile}}" target="_blank">Download</a>
    </div>
  </div>
</div>